
.idea {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.idea>.card {
  height: auto;
  position: relative;
  overflow: hidden;
}

.idea .card .card-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.idea .card .card-img-overlay {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 60px;
  min-height: 100%;
  width: 100%;
  box-sizing: border-box;
}

.idea .side-title {
    color: #EFEAEA;
text-align: right;
font-family: Cairo;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: 140%; 
}



.card-text-idea {
    color: #EFEAEA;
text-align: right;
font-family: Cairo;
font-size: 32px;
font-style: normal;
font-weight: 500;
line-height: 140%; 
}

.card-text-name {
    color: #EFEAEA;
text-align: right;
font-family: Cairo;
font-size: 32px;
font-style: normal;
font-weight: 500;
line-height: 140%;
}

.idea-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.idea-cards .card {
    border-radius: 8px;
    background: linear-gradient(126deg, #C6269B 3.55%, #9947D5 96.45%);
    display: flex;
    padding: 24px 48px;
    flex-direction: column;
    align-items: center;
    gap: 11px;
    color: #FFF;
    text-align: center;
    font-family: Cairo;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
    margin: 20px 0;
}

.idea-cards .card .card-text {
    color: #DFDFDF;
font-family: Cairo;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: 140%; 
} 
/* تعديل في الميديا كويري للمقاسات الصغيرة */
@media (max-width: 1024px) {
  .idea>.card {
    height: auto; /* خليه تلقائي حسب المحتوى */
  }

  .idea .card .card-img-overlay {
    padding: 20px;
    justify-content: flex-start;
  }

  .idea {
    min-height: auto;
  }

  .idea .card .card-text-name,
  .idea .card .card-text-idea {
    font-size: 20px;
  }

  .idea-cards .card {
    font-size: 20px;
    padding: 16px 24px;
  }
}
