.join {
    display: flex;
    justify-content: center;
    align-items: center;
}
.join .card {
    padding: 0;
    margin: 80px 0;
}
.join .card .card-img-overlay {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}



.join .card .card-body p:nth-child(1) {
color: #FFF !important;
text-align: right;
font-family: Cairo;
font-size: 36px;
font-style: normal;
font-weight: 700;
line-height: 31.92px; 

}



.join .card .card-body .card-text {
color: #FFF;
text-align: right;
font-family: Cairo;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26.72px; /* 167% */
}




.join .card .card-body button {
    display: flex;
height: 50px;
padding: 0px 28px;
flex-direction: column;
align-items: center;
justify-content: center;
align-self: stretch;
border-radius: 8px;
background: #FFF;
border: none;
}



.join .card .card-body .card-img-top {
    width: 149px;
height: 49px;
max-width: 149px;
}


@media (max-width: 770px) {
  .join>.card {
   height: 550px !important;
}
  .join>.card .card-img {
   height: 100% !important;
   object-fit: cover;
}
}