.form-pass form .card-title {
    color: #FFF;
text-align: right;
leading-trim: both;
text-edge: cap;
font-family: Cairo;
font-size: 24px;
font-style: normal;
font-weight: 800;
line-height: 14px; /* 58.333% */
letter-spacing: 0.24px;
margin: 48px 0;
}


.import- {
    color: #CAC7C7;
text-align: right;
font-family: Cairo;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 28px; /* 233.333% */
}


.secound-form {
    margin: 32px 0;
}