.form {
    display: flex;
    justify-content: center;
    align-items: center;
}


.form .form-content .card {
    background-color: transparent;
    display: flex;
    border: none;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 32px;
    margin: 20px 0;
}

.inputs-form {
    border-radius: 12px;
    background: var(--frame-bg, #21242D);
}

.inputs-form label {
    color: #D2D2D2;
    text-align: right;
    font-family: Cairo;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    /* 175% */
    text-transform: capitalize;
}

.inputs-form textarea,
.inputs-form input {
    border-radius: 4px;
    border: 1px solid rgba(254, 254, 254, 0.40);
    display: flex;
    padding: 12px 8px;
    justify-content: flex-end;
    align-items: center;
    gap: 8px;
    align-self: stretch;
    background-color: transparent;
}

.map-form p:nth-child(1) {
    color: #FFF;
    text-align: right;
    font-family: Cairo;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    /* 87.5% */
    text-transform: capitalize;
}

.map-form p:nth-child(2) {
    color: #E2DFDF;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    text-transform: capitalize;
}