.dreamfyfeatures {
    min-height: 60vh;
    overflow: hidden;
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
}

.dreamfyfeatures>.card {
    min-height: 60vh !important;
}

.dreamfyfeatures>.card svg {
    min-height: 60vh !important;
}
.dreamfyfeatures .card-img-overlay {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}
.card-img-overlay .content-dreemfy {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}


.card-img-overlay .content-dreemfy .card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: transparent;
    border: none;
}





.card-img-overlay .content-dreemfy .card .card-body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}



.dreamfyfeatures .card-img-overlay .content-dreemfy{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.dreamfyfeatures .card-img-overlay .card .img-card {
    display: flex;
    padding: 18px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 1000px;
    border: 2px solid #805AF5;
    background: #FFF;
    width: 100%;
    height: 100%;

}


.border-icon {
    width: 110px;
    height: 110px;
    border-radius: 1000px;
    background: linear-gradient(90deg, #FFF 0%, rgba(255, 255, 255, 0.00) 100%);
    display: flex;
    padding: 10px;
    align-items: flex-start;
    gap: 10px;
    margin: 10px 0;
}

.dreamfyfeatures .card-img-overlay .card img {
    width: 100%;
}

.dreamfyfeatures .card-title {
    color: #FFF;
    text-align: center;
    font-family: Cairo;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;
}


@media (max-width: 430px) {
    .dreamfyfeatures {
        height: 130vh;
    }

    .dreamfyfeatures>.card svg {
    min-height: 130vh !important;
}

    .dreamfyfeatures .card {
        height: 100%;
    }

    .dreamfyfeatures .card-img-overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}
}

@media (max-width: 770px) {
    .dreamfyfeatures {
        height: 80vh !important;
    }

    .dreamfyfeatures>.card svg {
    min-height: 80vh !important;
}

    .dreamfyfeatures .card {
        height: 100%;
    }

    .dreamfyfeatures .card-img-overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}
}

@media (max-width: 1024px) {
    .dreamfyfeatures {
        height: 80vh;
    }

    .dreamfyfeatures>.card svg {
    min-height: 80vh !important;
}

    .dreamfyfeatures .card {
        height: 100%;
    }

    .dreamfyfeatures .card-img-overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}
}



.dreamfyfeatures .card-img-overlay p {
display: flex;
justify-content: center;
align-items: center;
  color: #FFF;
text-align: center;
font-family: Cairo;
font-size: 40px;
font-style: normal;
font-weight: 700;
line-height: 40px; /* 125% */
  z-index: 2;
}
