.solves {
    display: flex;
    justify-content: center;
    align-items: center;
}


.solves .card {
    color: #fff;
    margin: 20px 0;
}

.solves .card img {
    border-radius: 32px;
}

.solves .card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.solves .card-title {
    color: #F3E6E6;
    text-align: right;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 56px;
}

.solves .card-text {
    color: #D0C9C9;
    text-align: right;
    font-family: Cairo;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 37px;
}

.solves button {
    display: flex;
    padding: 16px 24px;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    border-radius: 100px;
    background: linear-gradient(280deg, #805AF5 0%, #C02BA3 100%);
    color: #fff;
}

.solves button:hover {
    color: #fff;
}